<h2 align="center">Login</h2>
<div align="center">
  Use the user "joe" with password "joe" to log in.
</div>
<form (ngSubmit)="onLogin(f)" #f="ngForm">
  <div align="center" class="loginMask" style="padding:20px">
    <div align="center">
      <label for="username">Username</label>
      <input class="ui-float-label" type="text" id="username" size="30" name="username"
             title="Benutzername" autocomplete="username" ngModel><br>
      <label for="password">Password</label>
      <input class="ui-float-label" type="password" id="password" size="30" name="password"
             title="Passwort"
             autocomplete="current-password" ngModel><br>
      <button>
        Login
      </button>
    </div>
    <button routerLink="" style="margin-top: 50px">Go back without logging in</button>
  </div>
</form>


